<footer class="border-top">
<div class="mt-1">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook fs-5 me-2"></i>
            <i class="fa-brands fa-whatsapp fs-5 me-2"></i>
            <i class="fa-brands fa-instagram fs-5 me-2"></i>
            <i class="fa-brands fa-x-twitter fs-5 me-2"></i>
            <i class="fa-brands fa-linkedin-in fs-5 me-2"></i>
        </div>
        <div class="f-info-brand fs-6"> &copy; Apna Hotel Private Limit.</div>
        <div class="f-info-links">
            <a class="fs-6" href="/Privacy">Privacy</a>
            <a class="fs-6" href="/Terms & Condition">Terms & Condition</a>
        </div>
    </div>
</div>
</footer>