<footer class="border-top">
<div class="mt-1">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fs-5 me-2"></i></a>
            <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp fs-5 me-2"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fs-5 me-2"></i></a>
            <a href="https://www.twitter.com/"><i class="fa-brands fa-x-twitter fs-5 me-2"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in fs-5 me-2"></i></a>
        </div>
        <div class="f-info-brand fs-6"> &copy; Apna Hotel Private Limit.</div>
        <div class="f-info-links">
            <a class="fs-6" href="/Privacy">Privacy</a>
            <a class="fs-6" href="/Terms & Condition">Terms & Condition</a>
        </div>
    </div>
</div>
</footer>